@import "variables.scss";

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
}

body{
    min-height: 100vh;
    padding: 5rem 0;
    background-color: $secondary-color;
}

img,
svg{
    max-width: 100%;
}

.main{
    display: grid;
    justify-content: center;
    margin-inline: auto;
    width: 90%;
    border-radius: 7.5px;
    overflow: hidden;

    &__article{
        display: grid;
        row-gap: 2rem;
        padding: 3.5rem;
        line-height: 1.5;

        &01{
            background-color: $bg-color-01;
        }

        &02{
            background-color: $bg-color-02;
        }

        &03{
            background-color: $bg-color-03;
        }

        &__h1{
            text-transform: uppercase;
            font-size: 2.5rem;
            font-family: $font--400;
            color: $secondary-color;
        }

        &__text{
            font-family: $font--700; 
            color: $primary-color; 
        }

        &__a{
            display: block;
            text-align: center;
            width: 65%;
            border: solid 0.1rem $secondary-color;
            border-radius: 100vw;
            background-color: $secondary-color;
            padding: 0.8em;
            font-size: 1rem;
            text-decoration: none;
            font-family: $font--700;
            
            &01{
                color: $bg-color-01;
            }

            &02{
                color: $bg-color-02;
            }

            &03{
                color: $bg-color-03;
            }

            &:hover{
                cursor: pointer;
                background-color: transparent;
                color: $secondary-color;
                transition: all ease-in-out 150ms;
            }
        }

    }
}
